.bodylogin{
    background-image: url("./log.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.formdiv{
    margin-top: 2%;
}
.email{
    width: 350px;
    margin-left: 37%;
}
.password{
    width:350px;
    margin-left: 37%;
    margin-top: 2%;
}
.button:hover{
    background-color: rgb(2, 82, 2);
    border-color: rgb(212, 212, 8);
}

.button{
    padding: 5px 100px 5px 100px;
    font-variant: small-caps;
    font-size: 20px;
    border-color: red;
    margin-top: 7%;
    margin-left: 40%;
}
@media only screen and (max-width:500px){
    .email{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .password{
        width:250px;
        margin-left: auto;
        margin-right: auto;
    }
    .button{
        margin-left: 22%;
    }
}
@media only screen and (max-width:800px) and (min-width:500px){
    .email{
        width:300px;
    }
    .password{
        width:300px;
    }
}