.bodyreg{
    background-image: url("./unnamed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    text-align: center;
    color: white;
    font-variant:small-caps;
    margin-top: 50px;
    font-size: 50px;
}
.outerdiv{
    height: 520px;
    width: 800px;
    margin-left: 13%;
    background-color: rgb(230, 228, 228);
    margin-top: 40px;
    padding-top: 40px;
    border-radius: 8px;
    display: flex;
}
.firstfield{
   padding-left: 30px;
   font-variant: small-caps;
}
.lastfield{
    padding-right: 30px;
    font-variant: small-caps;
}
.dobfont{
    font-variant: small-caps;
}
.gender{
    padding-left: 20px;
    font-variant: small-caps;
}
.male{
    padding-left:40px;
}
.female{
    padding-left: 60px;
}
.others{
    padding-left:80px;
}
.hobbie{
    font-variant: small-caps;
}
.reading{
    padding-left: 40px;
}
.writing{
    padding-left:80px;
}
.button{
    /* margin: 60px 0px 0px 200px; */
    position: relative;
    top: 50px;
    left: 35px;
    padding: 5px 40px 5px 40px;
    font-variant: small-caps;
    font-size: 22px;
    border-color: red;
}
.button:hover{
    background-color: rgb(2, 82, 2);
    border-color: yellow
}

@media only screen and (max-width:500px){
.outerdiv{
    width:400px;
    margin-left: 1%;
}
.button{
    left: 0px;
    padding: 5px 90px 5px 90px;
}
.maleinput{
    padding-left: 3px;
}
.imgstyle{
    width: 170px;
    height: 130px;
}
}